@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>Please ensure you read the Readme.md file fully before starting the assessment.</p>
</div>
