@model Logic.TechnicalAssement.Core.Queries.GetLeaveRequests.GetLeaveRequestsResponse

@{
    ViewData["Title"] = "Leave";
}

<div class="text-leave">
    <h1 class="display-4">Leave</h1>
    <p>Create form here</p>
    @await Html.PartialAsync("../Partials/LeaveRequests.cshtml", @Model.LeaveRequests)
</div>
